<h1>Book Rentals</h1>
<%= link_to "Add a Book", new_book_path, class:"btn btn-sm btn-primary" %>

  <% @books.each do |book| %>
    <div class="card-product book-card my-3">
      <% if book.image.present? %>
          <%= image_tag book.image, alt: "Le Wagon", width: 200 %>
        <% else %>
          <%= image_tag "happy.jpg", alt: "Le Wagon", width: 200 %>
        <% end %>
      <div class="card-product-infos">
        <h2><%= book.title %></h2> by <%= book.author %>
        <p><%= book.summary%></p>
        <%= link_to "Detailed info", book, class:"btn btn-sm btn-primary" %>



        </div>
    </div>
  <% end %>
</div>
