<div>
  <%= link_to title "Detailed info", @book, class:"btn btn-sm btn-primary" %>
  <%= link_to "Publishing_year", book_path(@book), class: 'btn btn-primary' %>
  <%= link_to "Submit", books_path, class: 'btn btn-link' %>
  <%= link_to "Back to books", books_path, class: 'btn btn-link' %>
</div>

<div class="card-product-infos">
<% @book.reviews.each do |review| %>
<h2><%= book.reviews %></h2>
</div>
<div class="col">
<%= button_to "Add review", class: 'btn btn-review btn-md' %>
</div>
<% end %>
