<h1>Reviews</h1>
<div class= "container">
  <div class="row my-5">
    <div class="col bg">
        <div class="card", style="width: 30rem;">
          <% if @book.image.present? %>
            <%= image_tag @book.image, alt: "Le Wagon", style: "height: 320px; object-fit: cover;"  %>
          <% else %>
            <%= image_tag "happy.jpg", alt: "Le Wagon", style: "height: 320px; object-fit: cover;"  %>
          <% end %>
          <div class="card-body">
            <p class="card-text"><strong>Author: </strong> <%= @book.author %></p>
            <p class="card-text"><strong>Title: </strong><%= @book.title %></p>
          </div>
        </div>
    </div>

    <div class="col bg">
      <div class="card-product-infos my-5" >
      <h1>Write a review!</h1>

      <%= simple_form_for [@book, @review] do |f| %>

        <%=f.input :comment %>
        <%=f.input :rating %>
        <%=f.submit class: 'btn btn-primary'  %>

        <%end %>
    </div>
  </div>
</div>
